<div class="radio-wrapper" (click)="avancarTela()">
  <div class="topo-xadrez">
    <img src="xadrez_2.png" class="img-xadrez-bg" alt="Fundo Xadrez" />
    <div class="moldura-foto">
      <img src="capa.jpeg" alt="Foto do Casal" />
    </div>
  </div>

  <h1 class="titulo-tela">Estação de Rádio</h1>

  <div class="player-box" (click)="$event.stopPropagation()">
    <div class="controles-player">
      <button class="btn-icone" (click)="musicaAnterior()">
        <svg viewBox="0 0 24 24" fill="#1a1a1a"><path d="M6 6h2v12H6zm3.5 6l8.5 6V6z" /></svg>
      </button>

      <button class="btn-play-redondo" (click)="togglePlay()">
        <div class="triangulo-vermelho" *ngIf="!isPlaying"></div>
        <div class="barras-pause" *ngIf="isPlaying"></div>
      </button>

      <button class="btn-icone" (click)="proximaMusica()">
        <svg viewBox="0 0 24 24" fill="#1a1a1a">
          <path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z" />
        </svg>
      </button>
    </div>

    <div class="info-album">
      <img [src]="musicaAtual.capaUrl" class="capa-album" alt="Capa da Música" />

      <p class="musica-nome">{{ musicaAtual.titulo }}</p>
      <p class="musica-artista">{{ musicaAtual.artista }}</p>
    </div>

    <div class="assinaturas-container">
      <div class="assinaturas-container">
        <img src="122.png" class="assinatura-esq" alt="Estrela Laranja" />
        <img src="133.png" class="assinatura-dir" alt="Rabisco Preto" />
      </div>
    </div>

  </div>
</div>
