<div class="mapa-wrapper">
  <div #mapaInterativo id="mapa-interativo"></div>

  <div class="info-overlay">
    <img [src]="locais[localAtual].foto" alt="Foto do local" class="foto-local" />

    <div class="texto-container">
      <h3>{{ locais[localAtual].nome }}</h3>
    </div>

    <div class="controles">
      <button (click)="localAnterior()" [disabled]="localAtual === 0">Voltar</button>
      <button (click)="proximoLocal()">
        {{ localAtual === locais.length - 1 ? 'Final' : 'Próximo' }}
      </button>
    </div>
  </div>
</div>
