<div class="conexao-wrapper" (click)="avancarTela()">
  <div class="metade-superior">
    <div class="coluna-numeros">
      <div class="grid-tempo">
        <div class="item-tempo">
          <span class="num">{{ tempoJuntos.anos }}</span>
          <span class="lbl">anos</span>
        </div>
        <div class="item-tempo">
          <span class="num">{{ tempoJuntos.meses }}</span>
          <span class="lbl">meses</span>
        </div>
        <div class="item-tempo">
          <span class="num">{{ tempoJuntos.dias }}</span>
          <span class="lbl">dias</span>
        </div>
        <div class="item-tempo">
          <span class="num">{{ tempoJuntos.horas }}</span>
          <span class="lbl">horas</span>
        </div>
        <div class="item-tempo">
          <span class="num">{{ tempoJuntos.minutos }}</span>
          <span class="lbl">minutos</span>
        </div>
        <div class="item-tempo">
          <span class="num">{{ tempoJuntos.segundos }}</span>
          <span class="lbl">segundos</span>
        </div>
      </div>

      <h1 class="titulo-conexao">Tempo<br />de conexão</h1>
    </div>

    <div class="coluna-foto-rio">
      <img src="xadrez_3.png" class="bg-ondas" alt="Ondas" />
      <img src="foto_rio.webp" class="img-rio" alt="Rio de Janeiro" />
    </div>
  </div>

  <div class="metade-inferior">
    <img src="space.jpg" class="bg-nasa" alt="Universo NASA" />
    <div class="gradiente-escuro"></div>
    <p class="texto-nasa">Segundo a NASA, o universo estava assim<br />quando se conectamos...</p>
  </div>
</div>
